@model ShopTP22.Models.Products.Product

<h1>Delete</h1>
<span>Product</span>

<div>
    <h2>Are you sure you want to delete this product?</h2>

    <form method="post">
        <a asp-controller="Products" asp-action="Index" class="btn btn-outline-primary">Back</a>
        <input asp-controller="Products" asp-action="Delete" type="submit" class="btn btn-danger" value="Confirm"/>
    </form>
</div>