@model IEnumerable<ShopTP22.Models.Discounts.Discount>

<h1>Products</h1>
<a asp-controller="Discounts" asp-action="Create" class="btn btn-primary">New</a>

<table class="table">
    <thead>
        <tr>
            <th>Percentage</th>
            <th>Expiry date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var discount in Model)
        {
            <tr>
                <td>@discount.Percentage</td>
                <td>@discount.ExpireDate</td>
                <td>
                    <a asp-controller="Discounts" asp-action="Edit" asp-route-id="@discount.Id" class="btn btn-outline-primary">Edit</a>
                    <a asp-controller="Discounts" asp-action="Delete" asp-route-id="@discount.Id" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>