@model ShopTP22.Models.Coupons.Coupon

<h1>Delete</h1>
<span>Coupon</span>

<div>
    <h2>Are you sure you want to delete this coupon?</h2>

    <form method="post">
        <a asp-controller="Coupons" asp-action="Index" class="btn btn-outline-primary">Back</a>
        <input asp-controller="Coupons" asp-action="Delete" type="submit" class="btn btn-danger" value="Confirm"/>
    </form>
</div>